/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-header {
    line-height: 50px;
}

.main-logo {
    padding: 10px 0 10px 20px;
    vertical-align: middle;
}

.main-title {
    display: inline-block;
    vertical-align: middle;
}



